/* Estilos para el cuerpo de la página */
body {
    background: #43d2bc24;
    font-family: 'Comic Sans MS'; /* Fuente para todo el cuerpo */
    margin: 0;
    padding: 0;
}
.navbar {
  border: 2px solid #F8EEFF; /* Color del borde */
  border-radius: 10px; /* Bordes redondeados */
  margin: 0; /* Elimina el margen alrededor del encabezado */
  background-color: #F8EEFF; /* Fondo morado */
}

/* Estilo para el borde del pie de página */
.footer {
  border: 2px solid #F8EEFF; /* Color del borde */
  border-radius: 10px; /* Bordes redondeados */
  margin: 0; /* Elimina el margen alrededor del pie de página */
  background-color: #F8EEFF; /* Fondo morado */
}
.navbar-nav .nav-link {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #2e0a7180;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #F8EEFF;
  transition: 0.5s ease;
  user-select: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #ffffff;
  background: #5dc1b9;
  border: 1px solid #5dc1b9;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #9ce0db, 0 0 20px #9ce0db, 0 0 50px #9ce0db, 0 0 100px #9ce0db;
}

/* Estilos para el encabezado */
header {
    background-color: #F8EEFF; /* Fondo del encabezado */
    color:#6c289c; /* Color del texto del encabezado */
    padding: 10px 0; /* Espaciado interior del encabezado */
    text-align: center; /* Alinear texto al centro */
}


/* Estilos para el pie de página */
footer {
    background-color: #F8EEFF; /* Fondo del pie de página */
    color: #6c289c; /* Color del texto del pie de página */
    padding: 10px 0; /* Espaciado interior del pie de página */
    text-align: center; /* Alinear texto al centro */
}

/* Estilos para el contenido principal */
.container {
  max-width: 1200px; /* Ancho máximo del contenido principal */
  background-color: #F8EEFF; /* Fondo del contenido principal */
  padding: 1px; /* Espaciado interior del contenido */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
  
  /* Estilos para los botones */
  .btn {
    border-radius: 20px; /* Bordes redondeados */
  }
  
  /* Estilos para los formularios */
  .form-control {
    border-radius: 20px; /* Bordes redondeados */
  }
  
  /* Estilos para los botones del formulario */
  .form-control + .btn {
    border-radius: 20px; 
  }
  .btn-lightblue {
    background-color: #df80eb;
    color: white;
    border: none;
}

.btn-lightblue:hover {
    background-color: #d48ee0;
    color: white;
}
