/* Estilos para el cuerpo de la página */
body {
  background: #ffffff;
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
}

/* Estilo del encabezado o navbar */
.navbar {
  border: 2px solid #F8EEFF; 
  border-radius: 10px; 
  margin: 0; 
  padding: 0;
  background-color: #F8EEFF;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los enlaces de los botones en el navbar */
.nav-link {
  position: relative;
  color: rgb(190, 55, 55); 
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease-in-out;
}

/* Efecto hover: cambio de color y línea debajo */
.nav-link:hover {
  color: #d48ee0; 
}

/* Efecto de la línea debajo del texto */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #d48ee0;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out; 
}

/* Al pasar el mouse, la línea se expande completamente */
.nav-link:hover::after {
  width: 100%;
}
.nav-link.active::after {
  width: 100%; 
  background-color: #d48ee0;
}

/* Estilos para el encabezado */
footer {
  background-color: #F8EEFF; 
  color: #8d6ca4; 
  padding: 15px 0;
  text-align: center;
  margin: 6; 
}

/* Estilos para el contenido principal */
.container {
  max-width: 1200px;
  background-color: #ffffff;
  padding: 1px; 
  border-radius: 5px; 
  margin-bottom: 6px; 
}

/* Estilos para los botones */
.btn {
  border-radius: 20px; 
}

/* Estilos para los formularios */
.form-control {
  border-radius: 20px;
}

/* Estilos para los botones del formulario */
.form-control + .btn {
  border-radius: 20px; 
}

.btn-lightblue {
  background-color: #df80eb;
  color: white;
  border: none;
}

.btn-lightblue:hover {
  background-color: #d48ee0;
  color: white;
}
